# UMDA
loguru==0.5.3
gensim==3.8.3
networkx==2.8.8
scikit-learn==0.24.1
umap-learn
numba
numpy
rdkit
dask
dask-ml
h5py
joblib
pandas
streamlit
bokeh
git+https://github.com/laserkelvin/mol2vec.git@850d944d5f48a58e26ed0264332b5741f72555aa#egg=mol2vec
# git+https://github.com/samoturk/mol2vec

# astromol
git+https://github.com/bmcguir2/astromol.git@main
plotly